<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Node API</title>
  <meta name="description" content="Node API Landing Page">
  <meta name="author" content="dmuellerstl">

<style>
    body {font-family:Arial}
    h1 {color:#333}
    .bordered-round {border-radius:8px;border:1px solid gray;width:600px;margin:auto;padding:16px}
</style>

</head>

<body style="text-align:center;padding:200px">
  <img src="https://media.giphy.com/media/dcMjM5PAYSpjO/giphy.gif"/>
  <h1 style="text-align:center;">Welcome to the Node API</h1>
  <div class="bordered-round">This Node.js API service is provided for use under open license.<br/> For API documentation, please visit the <a href="/api/help">help page</a>.</div>
  <p style="text-align:center"><small>© Copyright 2016</small></p>
</body>
</html>

