USE [master]
GO
/****** Object:  Database [nodeapi]    Script Date: 11/9/2016 1:00:07 PM ******/
CREATE DATABASE [nodeapi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'nodeapi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\nodeapi.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'nodeapi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\nodeapi_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nodeapi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nodeapi]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/9/2016 1:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [UserName], [Password], [FirstName], [LastName]) VALUES (1, N'bsmith', N'password1', N'Bob', N'Smith')
INSERT [dbo].[Users] ([ID], [UserName], [Password], [FirstName], [LastName]) VALUES (3, N'jmiller', N'password2', N'John', N'Miller')
INSERT [dbo].[Users] ([ID], [UserName], [Password], [FirstName], [LastName]) VALUES (4, N'sjohnson', N'password3', N'Sarah', N'Johnson')
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
